<!DOCTYPE html>
<html lang ="en">
<head>
  <title>Grievance Manangement Portal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
</head>


  </style>
  <body>
    <div class="Cases Data" id="caseTable">
      <table border="1">
        <tr>

          <th>Case no</th>
          <th>Branch</th>
          <th>Reporting Method</th>
          <th>Date</th>
          <th>Time</th>
          <th>Category</th>
          <th>Sub Category</th>
          <th>Priority</th>
          <th>Nature</th>
          <th>Case Manager</th>
          <th>Case Reporter</th>
          <th>Case Status</th>

        </tr>
        <%
        if(casestable.length!=0){
          var i=1;
          casetable.forEach(function(data){
            %>
            <tr>
              <td><%=i; %</td>
              <td><%=data.case_no %></td>
              <td><%=data.branch %></td>
              <td><%=data.reporting_method %></td>
              <td><%=data.date %></td>
              <td><%=data.time %></td>
              <td><%=data.category %></td>
              <td><%=data.sub_category %></td>
              <td><%=data.priority %></td>
              <td><%=data.nature %></td>
              <td><%=data.case_manager %></td>
              <td><%=data.case_reporter %></td>
              <td><%=data.case_status %></td>

          </tr>
          <% i++;  }) %>
          <% } else{ %>
            <tr>
              <td> colspan="7"> NO Data Found</td>
            <tr>
            <% } %>
          </table>
        </div>
    </body>
</html>
